<div class="p-1 m-1 h-10 rounded-lg bg-neutral-200 flex justify-between">
    <span class="block text-center align-middle font-bold">
        {{instrument.name}}
    </span>

    <div>
        <button class="w-9 p-1"
                title="settings"
                (click)="openInstrumentSettings()">&#9881;</button>

        <!-- mute button -->
        <button class="w-9 p-1"
                title="mute"
                (click)="instrumentToggle()">{{instrument.muted? '
            &#128263;': '&#128266;'}}</button>
    </div>

</div>

<!-- instrument settings menu -->
<div class="bg-neutral-400 rounded-lg p-2 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 w-1/2 h-1/2"
     [hidden]="!settingsOpen">

    <div class="flex justify-between">
        <p>{{instrument.name}} Settings</p>
        <button class="bg-neutral-600 hover:bg-red-500 w-10 h-10 rounded-lg text-white text-center"
                (click)="settingsOpen = false">X</button>

    </div>

    <div class="range-input">
        <label for="instrumentVolume">Volume</label>
        <input type="range"
               min="0"
               max="2"
               step="0.1"
               #instrumentVolume
               (input)="changeInstrumentVolume(instrument, +instrumentVolume.value)">
    </div>
</div>
