<div class="m-1 h-10 rounded-lg bg-neutral-700 flex justify-between">
    <span class="block text-center text-white align-middle font-bold mr-2 p-2">
        {{instrument.name}}
    </span>

    <div class="flex align-middle">

        <button class="hover:bg-neutral-600 p-1 mr-1 rounded"
                title="settings"
                (click)="openModal(instrumentSettings, {title: 'Instrument Settings'})">
            <i class="icon-sliders text-red-500"></i>
        </button>

        <!-- mute button -->
        <button class="hover:bg-neutral-600 p-1 mr-1 rounded"
                title="mute"
                (click)="instrumentToggle()">

            <i [ngClass]="instrument.muted? 'icon-volume-x' : 'icon-volume-2'"></i>
        </button>

        <!-- randomize button -->
        <button class="hover:bg-neutral-600 p-1 rounded"
                title="Randomize Pattern"
                (click)="randomize()">
            <i class="icon-random"></i>
        </button>
    </div>

</div>

<ng-template #instrumentSettings>
    <div class="range-input">
        <div>
            <label for="instrumentVolume">Volume</label>
            <input type="range"
                   min="0"
                   max="2"
                   step="0.1"
                   #instrumentVolume
                   (input)="changeInstrumentVolume(instrument, +instrumentVolume.value)">
        </div>

        @if(isEnvelopePresent()) {
        <envelope (envelopeInputChange)="onEnvelopeInput($event)"
                  [initEnvelopeValues]="getEnvelopeValues()"></envelope>
        }
    </div>
</ng-template>
