<div class="relative">

    <button class="p-1 m-1 w-10 h-10 rounded-lg text-center beat-button"
            title="click to toggle, right-click to open note selection menu"
            [ngClass]="instrumentButton.isActive? 'instrument-btn-active' : 'instrument-btn-inactive'"
            (click)="toggle()">
        @if(instrumentButton.isActive) {
        <span class="text-white font-bold">{{instrumentButton.fullNote}}</span>
        }
    </button>

    <!-- elements inside needs to have notes-menu-elem class due to offClick logic -->

    <!-- .animation-appear makes weird z-index issues -->
    <div class="absolute top-1/2 left-1/2"
         [hidden]="
         !notesMenuOpen">

        <radial-menu [radius]='100'
                     [innerRadius]="50"
                     [hasBackdrop]="true"
                     class="notes-menu-elem">
            @for(note of notesOptions; track note){

            <button #outerCircleItems
                    class="notes-menu-elem text-white bg-neutral-600 hover:bg-neutral-400 rounded-full w-10 h-10"
                    (click)="noteSelection(note)">{{note}}</button>
            }

            @for(octave of octaves; track octave) {
            <button #innerCircleItems
                    class="notes-menu-elem text-white bg-neutral-600 hover:bg-neutral-400 rounded-full w-10 h-10"
                    (click)="selectOctave(octave)">{{octave}}</button>
            }

        </radial-menu>

    </div>
</div>
