<button class="p-1 m-1 w-10 h-10 rounded-lg text-center beat-button"
        [ngClass]="instrumentButton.isActive? 'instrument-btn-active' : 'bg-neutral-200'"
        (click)="toggle()">
    @if(instrumentButton.isActive) {
    <span class="text-white font-bold">{{instrumentButton.note}}</span>
    }
</button>

<div class="absolute"
     [hidden]="!notesMenuOpen">
    <div class="flex">
        <!-- elements needs to have notes-menu-elem class due to offClick logic -->
        <select name="notes"
                class="notes-menu-elem"
                (change)="noteSelection(noteSelect.value)"
                #noteSelect>
            @for(note of notesOptions; track note) {
            <option [value]="note">{{note}}</option>
            }
        </select>

        <input type="number"
               class="notes-menu-elem"
               min="1"
               max="6"
               #octaveInput
               (change)="selectOctave(octaveInput.value)">
    </div>


</div>
