<h1 class="text-2xl text-white text-center">Soundlab Sequencer</h1>

<div class="flex flex-col justify-center">
    <div class="p-4 range-input">
        <div>

            <input type="range"
                   min="0"
                   max="1"
                   step="0.1"
                   #gainInput
                   (input)="changeGain(+gainInput.value)">
            <label class="text-white"
                   for="gainInput">Volume</label>
        </div>

        <div>
            <input type="range"
                   min="60"
                   max="240"
                   step="1"
                   #tempoInput
                   [value]="bpm"
                   (input)="setBpm(+tempoInput.value)">
            <label class="text-white"
                   for="tempoInput">{{tempoInput.value}} bpm</label>

        </div>

        <button class="bg-neutral-200 p-2 m-2 rounded-lg"
                (click)="sequencerToggle()">{{isPlaying ? 'Stop' : 'Start'}}</button>

    </div>
    <!-- cols -->
    <div class="flex justify-center">

        <div class="flex flex-col">
            @for(instrument of instruments; track instrument) {
            <span class="p-1 m-1 h-10 rounded-lg bg-neutral-200 block text-center">{{instrument.name}}</span>
            }

        </div>

        <div>
            @for(instrument of instrumentButtons; track instrument) {
            <div class="flex justify-center">

                @for(beatButton of instrument; track beatButton) {

                <button class="p-1 m-1 w-10 h-10 rounded-lg text-center"
                        [ngClass]="beatButton.isActive? 'bg-green-500' : 'bg-neutral-200'"
                        (click)="toggleActiveBeat(beatButton)">
                    {{beatButton.id}}
                </button>

                }

            </div>
            }

        </div>

    </div>
</div>
