<h1 class="text-2xl text-white text-center">Soundlab Sequencer</h1>

<div class="flex flex-col justify-center">
    <div class="p-4 range-input">
        <div>

            <input type="range"
                   min="0"
                   max="1"
                   step="0.1"
                   #gainInput
                   (input)="changeGain(+gainInput.value)">
            <label class="text-white"
                   for="gainInput">Volume</label>
        </div>

        <div>
            <input type="range"
                   min="60"
                   max="240"
                   step="1"
                   #tempoInput
                   [value]="bpm"
                   (input)="setBpm(+tempoInput.value)">
            <label class="text-white"
                   for="tempoInput">{{tempoInput.value}} bpm</label>

        </div>

        <div class="flex m-2">

            <button class="bg-neutral-200 p-2 m-2 rounded-lg"
                    (click)="sequencerToggle()">{{isPlaying ? 'Stop' : 'Start'}}</button>

            <div class="flex">
                <button class="bg-neutral-200 p-2 m-2 rounded-lg"
                        (click)="openClearAllPrompt()">Clear All</button>

                @if(clearAllPromptOpen) {
                <div class="bg-neutral-400 rounded-lg pr-2 pl-2">
                    <span class="text-white">Are you sure?</span>
                    <button class="bg-neutral-200 p-2 m-2 rounded-lg"
                            (click)="closeClearAllPrompt()">No</button>
                    <button class="bg-neutral-200 p-2 m-2 rounded-lg"
                            (click)="clearAll()">Yes</button>
                </div>

                }
            </div>
        </div>



    </div>
    <!-- cols -->
    <div class="flex justify-center">

        <!-- instrument name column -->
        <div class="flex flex-col">
            <!-- just a spacing -->
            <div class="m-1 p-1 h-10"></div>

            @for(instrument of instruments; track instrument) {
            <div class="p-1 m-1 h-10 rounded-lg bg-neutral-200 flex justify-between">
                <span class="block text-center align-middle font-bold">
                    {{instrument.name}}
                </span>

                <!-- mute button -->
                <button class="w-9 p-1 rounded-lg bg-neutral-400"
                        title="mute"
                        (click)="instrumentToggle(instrument)">{{instrument.muted? 'O': 'I'}}</button>

            </div>
            }

        </div>

        <div>
            <!-- beats measure -->
            <div class="flex justify-center">
                @for(beat of beats; track beat) {
                <div class="p-1 m-1 w-10 h-10 rounded-lg text-center"
                     [ngClass]="isCurrentBeatActive(beat)? 'measure-active' : 'bg-neutral-200'">
                    <span class="font-bold align-middle">{{beat.id}}</span>
                </div>
                }
            </div>

            <!-- instrument buttons -->
            @for(instrument of instrumentButtons; track instrument) {
            <div class="flex justify-center">

                @for(beatButton of instrument; track beatButton) {

                <!-- beat button, with note dropdown / octave select on right click -->
                <beat-button [instrumentButton]="beatButton"
                             (toggleActiveBeat)="toggleActiveBeat($event)"></beat-button>

                }

            </div>
            }

        </div>

    </div>
</div>
