<div class="bg-neutral-600 p-2">
    <div>
        octave: {{octave}}
        <input (input)="changeOctave(+octaveIput.value)"
               value="1"
               type="range"
               step="1"
               min="1"
               max="6"
               #octaveIput>

    </div>

    @for (key of keys; track key) {
    <button class="bg-slate-200 p-2 m-2"
            (mousedown)="holdNote(key)"
            (mouseup)="releaseNote()"
            (mouseleave)="releaseNote()">{{key}}</button>
    }
</div>
