<div class="bg-neutral-700 p-2 flex flex-col justify-center">
    <div class="flex justify-center">
        <p class="text-white text-xl mb-2">octave: {{octave}}</p>
        <input (input)="changeOctave(+octaveIput.value)"
               value="1"
               type="range"
               step="1"
               min="1"
               max="6"
               #octaveIput>

    </div>

    <div class="flex justify-center">
        @for (key of keys; track key) {
        <button class=" p-2 w-10 h-40 m-1 rounded-lg key-pressed"
                [ngClass]="isKeyActive(key) ? 'bg-red-400' : 'bg-slate-200'"
                (mousedown)="holdNote(key)"
                (mouseup)="releaseNote(key)"
                (mouseleave)="releaseNote(key)">{{key}}</button>
        }
    </div>
</div>
