<div class="p-2 mr-2 h-full rounded-lg shadow-2xl border-emboss noise-bg"
     [ngClass]="colorClass ? colorClass : 'bg-neutral-400'">
    <div class="flex justify-between mb-2">
        <button class="p-2 rounded-lg font-bold text-gray-500"
                [ngClass]="active? 'bg-neutral-300 button-active':'bg-neutral-200 button-inactive'"
                title="click to toggle effect"
                (click)="effectToggle()">{{effectType}}</button>

        <!-- diode -->
        <div class="w-2 h-2 rounded-full"
             [ngClass]="active? 'neon-red': 'bg-neutral-200'"></div>

    </div>

    <!-- effect controls -->
    <div class="p-2 flex flex-col rounded-lg shadow-xl border-groove label-white">

        <ng-content></ng-content>
    </div>
</div>
