<div class="p-2 mr-2 h-full rounded-lg"
     [ngClass]="colorClass ? colorClass : 'bg-gray-400'">
    <div class="flex justify-between mb-2">
        <button class="p-2 bg-neutral-200 rounded-lg"
                title="click to toggle effect"
                (click)="effectToggle()">{{effectType}}</button>

        <!-- diode -->
        <div class="w-2 h-2 rounded-full"
             [ngClass]="active? 'neon-red': 'bg-neutral-200'"></div>

    </div>

    <!-- effect controls -->
    <div class="p-2 bg-neutral-200 flex flex-col rounded-lg">

        <ng-content></ng-content>
    </div>
</div>
