$border-width: 4px;

@use "../../../../styles.scss";

:host::ng-deep {
  .border-emboss {
    border-top: $border-width solid #bbb;
    border-left: $border-width solid #888;
    border-right: $border-width solid #555;
    border-bottom: $border-width solid #555;
  }

  .border-groove {
    @include styles.groove;
  }

  .label-white {
    label {
      color: white;
      font-weight: bold;
      margin-bottom: 4px;
      margin-top: 4px;
      user-select: none;
    }
  }

  .noise-bg {
    background-image: url("../../../../assets/noise.svg");
  }

  .waveform-radio {
    appearance: none;
    @include styles.groove;
    width: 20px;
    height: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
    cursor: pointer;

    &:checked {
      background: red;
    }
  }
}
