<div class="p-4 bg-neutral-700">
    <p class="text-white text-center text-2xl mb-2">Effects</p>
    <div class="flex justify-center range-input">
        <!-- move to component -->
        <!-- waveshape -->
        <div class="bg-neutral-400 rounded-xl mr-2 border-emboss noise-bg">
            <p class="text-white text-center p-2">waveshape</p>

            <div class="flex flex-col p-2 label-white border-groove rounded-xl m-2">
                @for(shape of waveshapes; track shape;) {
                <div style="display: flex; align-items:center;">
                    <input class="mr-2 waveform-radio"
                           [checked]="$last"
                           type="radio"
                           [id]="shape"
                           name="waveshape"
                           (change)="changeWaveShape(shape)">

                    <label class="cursor-pointer"
                           [for]="shape">{{shape}}</label>
                </div>
                }

            </div>

        </div>

        <envelope class="mr-2"
                  (envelopeInputChange)="onEnvelopeInput($event)"
                  [initEnvelopeValues]="getEnvelopeValues()"></envelope>

        <effect-box [effectType]="'Distortion'"
                    (toggle)="toggleEffect($event)">
            <input type="range"
                   [value]="getEffectParamValue('Distortion', 'distortion')"
                   (input)="onEffectInput('Distortion', 'distortion', distortionInput.value)"
                   min="0"
                   max="5"
                   step="0.1"
                   #distortionInput>
        </effect-box>

        <effect-box class="range-input"
                    [effectType]="'FeedbackDelay'"
                    (toggle)="toggleEffect($event)">

            <label for="delayTime">Delay time</label>
            <input type="range"
                   name="delayTime"
                   [value]="getEffectParamValue('FeedbackDelay', 'delayTime')"
                   (input)="onEffectInput('FeedbackDelay', 'delayTime', delayTimeInput.value)"
                   #delayTimeInput
                   min="0"
                   max="1"
                   step="0.1">

            <label for="delayFeedback">Feedback</label>
            <input type="range"
                   name="delayFeedback"
                   [value]="getEffectParamValue('FeedbackDelay', 'feedback')"
                   (input)="onEffectInput('FeedbackDelay', 'feedback', delayFeedbackInput.value)"
                   #delayFeedbackInput
                   min="0"
                   max="1"
                   step="0.1">

        </effect-box>

        <effect-box [effectType]="'Reverb'"
                    (toggle)="toggleEffect($event)">
            <input type="range"
                   [value]="getEffectParamValue('Reverb', 'decay')"
                   (input)="onEffectInput('Reverb', 'decay', reverbTimeInput.value)"
                   #reverbTimeInput
                   min="0.1"
                   max="10"
                   step="0.1">
        </effect-box>

        <effect-box [effectType]="'Chorus'"
                    (toggle)="toggleEffect($event)">

            <label for="chorusFrequency">Frequency</label>
            <input type="range"
                   name="chorusFrequency"
                   #chorusFreqInput
                   [value]="getEffectParamValue('Chorus', 'frequency')"
                   (input)="onEffectInput('Chorus', 'frequency', chorusFreqInput.value)"
                   min="0"
                   max="10"
                   step="1">

            <label for="chorusDelayTime">Delay time</label>
            <input type="range"
                   name="chorusDelayTime"
                   #chorusDelayTimeInput
                   [value]="getEffectParamValue('Chorus', 'delayTime')"
                   (input)="onEffectInput('Chorus', 'delayTime', chorusDelayTimeInput.value)"
                   min="0"
                   max="10"
                   step="1">

            <label for="chorusDepth">Depth</label>
            <input type="range"
                   name="chorusDepth"
                   [value]="getEffectParamValue('Chorus', 'depth')"
                   (input)="onEffectInput('Chorus', 'depth', chorusDepthInput.value)"
                   #chorusDepthInput
                   min="0"
                   max="1"
                   step="0.1">
        </effect-box>

    </div>
</div>
