<div class="p-2 mb-2 bg-neutral-600">
    <p class="text-white text-center">Effects</p>
    <div class="flex justify-center">


        <effect-box [effectType]="'Distortion'"
                    [config]="{}"
                    (toggle)="toggleEffect($event)"></effect-box>


        <effect-box [effectType]="'FeedbackDelay'"
                    [config]="{}"
                    (toggle)="toggleEffect($event)"></effect-box>



        <effect-box [effectType]="'Reverb'"
                    [config]="{}"
                    (toggle)="toggleEffect($event)"></effect-box>



        <effect-box [effectType]="'Chorus'"
                    [config]="{}"
                    (toggle)="toggleEffect($event)"></effect-box>



    </div>
</div>
