<!-- envelope -->
<div class="bg-neutral-400 rounded-xl p-2 border-emboss noise-bg">
    <p class="text-white text-center">Envelope</p>

    <div class=" border-groove rounded-xl flex flex-col p-2 shadow-2xl label-white">
        <label for="envelopeAttackInput">Attack</label>
        <input type="range"
               name="envelopeAttackInput"
               #envelopeAttackInput
               [value]="initEnvelopeValues.attack"
               (input)="onEnvelopeInput('attack', +envelopeAttackInput.value)"
               min="0"
               max="2"
               step="0.1">

        <label for="envelopeDecayInput">Decay</label>
        <input type="range"
               name="envelopeDecayInput"
               #envelopeDecayInput
               [value]="initEnvelopeValues.decay"
               (input)="onEnvelopeInput('decay', +envelopeDecayInput.value)"
               min="0"
               max="2"
               step="0.1">

        <label for="envelopeReleaseInput">Release</label>
        <input type="range"
               name="envelopeReleaseInput"
               #envelopeReleaseInput
               [value]="initEnvelopeValues.release"
               (input)="onEnvelopeInput('release', +envelopeReleaseInput.value)"
               min="0.1"
               max="5"
               step="0.1">

        <label for="envelopeSustainInput">Sustain</label>
        <input type="range"
               name="envelopeSustainInput"
               #envelopeSustainInput
               [value]="initEnvelopeValues.sustain"
               (input)="onEnvelopeInput('sustain', +envelopeSustainInput.value)"
               min="0.1"
               max="1"
               step="0.1">

    </div>
</div>
